
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4">Panda Tech Test Case 1 App</span>
    </a>

    <ul class="nav nav-pills">
      <li><a routerLink="/" class="nav-link px-2" routerLinkActive="link-secondary" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
			<li><a routerLink="animals" class="nav-link px-2" routerLinkActive="link-secondary">Animals</a></li>
    </ul>
  </header>
</div>
<router-outlet></router-outlet>